body,html{
  font-family : Helvetica, sans-serif;
  background-color : #efefef;
  font-size : 13px;
}
h2{
  font-size : 50px;
  font-weight  : bold;
}
.add{
 float : right; 
}
input{
 margin-bottom : 10px;
  width : 230px;
 padding : 4px; 
}
#content{
  padding : 10px;
  margin : 0 auto;
  max-width : 600px; 
  min-width : 300px;
}
#add-wrapper{
  padding : 10px;
  border : 1px solid #ccc; 
  margin-top : 10px;
  margin-bottom : 20px;
  background-color : white;
  overflow : hidden;
}
.date{
 margin-bottom : 5px; 
}
.timer{
  padding : 10px;
  margin-top : 5px;
  border : 1px solid #ccc; 
  background-color : white;
}
.timer button{
  float : right; 
}
.time-left{
  font-weight : bold; 
  font-size : 40px;
}